
@{
    ViewBag.Title = "Completed";
}

<div class="container pt-5">
    
    <div class="row">
        
        <div class="col">
            
            <h2>Sipariş Tamamlandı!</h2>

            <h4>Satın alma işleminiz için teşekkür ederiz.</h4>


        </div>

    </div>

</div>



